@import url('https://fonts.googleapis.com/css?family=Roboto:wght@100,400,700,900&display=swap');

$primary-color: #003049;
$secondary-color: #D62828;
$primary-bg-color: #fff;
$secondary-bg-color: #fdfdfd;
$font-stack: 'Roboto', Helvetica, Arial,sans-serif;
